@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Roboto+Mono&display=swap');


.cell{
    flex: 0 1 250px;
    max-width: 250px;
    height: 275px;
    margin: 2px;
    position: relative;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    cursor: pointer;
}

.cell_img{
    object-fit: cover;
    object-position: center;
}


.cell::before, .cell::after, .cell_img{
    top: -10%;
    width: 100%;
    height: 150%;
    display: block;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
} 

.cell:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    z-index: 99;
    overflow: hidden;
}

.cell::before{
    content: '';
    position: absolute;
    opacity: 0.4;
    width: 350px;
    height: 70px;
    background: white;
    top: 50;
    left: 0;
    z-index: 1;
    transform: rotate(45deg);
    transition: transform 1.5s;
}

.cell:hover::before{
    transform: translate(-100px, 600%) rotate(45deg);
    transition: transform 0.5s;
}

.description{
    text-align: center;
    max-width: 250px;
    margin-top: 50px;
    opacity: 0%;
    transition: 1.5s;
}

.cell:hover + .description{
    opacity: 100%;
    margin-top: 100px;
}

.desctitle{
    font-family: 'Oswald', sans-serif;
}

.desc{
    font-family: 'Roboto Mono', monospace;
}