<div class="container">
    <div class="col-sm">
        <div class="cell">
            <img [src]="source" class="cell_img" (click)="click()">
        </div>
        <div class="description">
            <h2 class="desctitle">{{text}}</h2>
            <div class="desc">
                {{description}}
            </div>
        </div>
    </div>
</div>