
.title{
    font-family: 'Oswald', sans-serif;
}

.top{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 50px;
    padding-top: 50px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    height: auto ;
}