<ng-template #quiz1>
  <app-quiz-modal (onclose)="modalRef.close()" [title]="'Quiz da Sabrina'" [quizIndex]="1"></app-quiz-modal>
</ng-template>
<ng-template #quiz2>
  <app-quiz-modal (onclose)="modalRef.close()" [title]="'Quiz do Diogo'" [quizIndex]="2"></app-quiz-modal>
</ng-template>
<ng-template #quiz3>
  <app-quiz-modal (onclose)="modalRef.close()" [title]="'Quiz dos Buchinhos'" [quizIndex]="3"></app-quiz-modal>
</ng-template>


<div class="header"></div>
<div class="top">
  <h1 class="title">Bem vindo ao teste de conhecimento do buchinho</h1>
</div>
<div class="images">
  <app-image text="Quiz da Sabrina" source="assets/galery/img_1.jpeg" 
  description="Após 2 anos juntos será que o Diogo conhece a Sabrina. Esse quiz coloca a prova a intimidade e conhecimento de diogo sobre a sabrina" 
  (onclick)="quiz(quiz1)"></app-image>
  
  <app-image text="Quiz do Diogo" source="assets/galery/img_2.jpeg" 
  description="Vamos ver se Sabrina é uma boa namorada, e conhece os gostos de Diogo, colocando a proa seu relacionamento durante esse quiz" 
  (onclick)="quiz(quiz2)"></app-image>
  
  <app-image text="Quiz do Casal" source="assets/galery/img_3.jpeg" 
  description="'O Destruidor de Casais' tambem conhecido como 'Quiz de Casal'. Poucos Casais consegue superar um debate tão grande quanto esse, será que Sabrina e Diogo estão unidos para enfrenter o desafio?" 
  (onclick)="quiz(quiz3)"></app-image>
</div>