<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container p-5" *ngIf="!showResults">
        <div class="row">
            <div class="col-sm-8 offset-2">
                <p class="text-center">{{currentQuiz +1}} of {{quizzes.length}}</p>
                <h1>{{quizzes[currentQuiz].question}}</h1>

                <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
                    <label>
                    <li class="list-group-item" [ngStyle]="{'background-color':quiz.selected? 'lightblue':'transparent'}" >
                        <input type="radio" name="options" (change)="onAnswer(quiz)" >
                        {{quiz.option}}
                    </li>
                    </label>
                </ul>
            </div>
        </div>
    </div>

    <div class="container p-5" *ngIf="showResults">
        <div class="row">
            <div class="col-sm-8 offset-2">
                <h1>Parabens!!</h1>
                <p style="color: green;">Respostas corretas: {{correctAnswers}}</p>
                <p style="color: red;">Respostas incorretas: {{incorrectAnswers}}</p>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="next()">Proximo</button>
</div>